@{
	ViewData["Title"] = "NSDS";
}
@section scripts {
	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/lib/angular/angular.js"></script>
		<script src="/lib/underscore/underscore.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>
		<script src="/lib/angular/angular.min.js"></script>
		<script src="/lib/underscore/underscore-min.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
}

<div ng-controller="PackagesController">
	<div class="package" ng-repeat="package in packages">
		<strong>{{ package.module.name }}</strong><br/>
		<span class="version">{{ package.version }}</span><br/>
		<a ng-if="package.deployment" href="/api/deploy/{{ package.deployment.name }}">{{ package.deployment.name }}</a><br/>
		<a ng-if="package.module.deployment" href="/api/deploy/{{ package.module.deployment.name }}/{{ package.moduleId }}">{{ package.module.deployment.name }}</a>
	</div>
</div>
<div ng-controller="PoolsController">
	<ul class="client-list" ng-controller="ClientsController">
		<li class="client status-{{ cli.status() }}" ng-repeat="cli in clients">
			<b>{{ cli.name }}</b>
			<ul class="module-list">
				<li class="module" ng-repeat="mod in cli.modules">{{ mod.module.name }} <span class="version">{{ mod.versionId }}</span></li>
			</ul>
		</li>
	</ul>
</div>
