@{
	ViewData["Title"] = "NSDS";
}
@section scripts {
	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/angular/angular.js"></script>
		<script src="~/lib/underscore/underscore.js"></script>
		<script src="~/lib/spin.js/spin.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
		</script>
		<script src="~/lib/angular/angular.min.js"></script>
		<script src="~/lib/underscore/underscore-min.js"></script>
		<script src="~/lib/spin.js/spin.min.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>
}

<fieldset ng-controller="PackagesController">
	<legend>Packages</legend>
	<div class="package" ng-repeat="package in packages">
		<div class="title">
			@*<span class="glyphicon glyphicon-gift"></span>*@
			<strong>{{ package.module.name }}</strong>
			<span class="version" ng-if="package.version">{{ package.version.version }}</span><br />
		</div>
		<div class="content" ng-if="package.deployment">
			<strong>Deploy:</strong>
			<a ng-click="deploy(package)" href="#">{{ package.deployment.name }}</a>
			<span id="{{ package.$$hashKey.replace(':', '_') }}"></span>
		</div>
		@*<div><a ng-if="package.module.deployment" href="/api/deploy/{{ package.module.name }}/{{ package.moduleId }}">{{ package.module.deployment.name }}</a></div>*@
	</div>
</fieldset>

<hr/>

<div ng-controller="DeploymentController">
	<button class="btn btn-default" ng-class="{'disabled': !canDeploy}" ng-disabled="!canDeploy" ng-click="deploy()">Deploy ({{ selectedItems.length }})</button>

	<fieldset ng-controller="PoolsController" title="Clients">
		<legend>Pools</legend>
		<fieldset class="client-list" ng-controller="ClientsController">
			<legend>Clients</legend>
			<div class="client status-{{ cli.status() }}" ng-repeat="cli in clients" ng-class="{'selected': cli.selected()}">
				<span class="glyphicon" ng-class="{'glyphicon-unchecked': !cli.selected(), 'glyphicon-check': cli.selected() }" ng-click="cli.select()" style="margin-left: 4px; vertical-align: baseline;"></span>
				<strong>{{ cli.name }}</strong>
				<div class="module-list">
					<div class="module" ng-repeat="mod in cli.modules" ng-click="mod.select()" ng-class="{'module_ok': mod.isLatest && !mod.isDeploying, 'module_warn': !mod.isLatest && !mod.isDeploying, 'module_deploying': mod.isDeploying}" style="cursor: pointer;">
						<div class="glyphicon" ng-class="{'glyphicon-unchecked': !mod.selected, 'glyphicon-check': mod.selected}"></div>
						@*<div ng-if="!mod.isDeploying" class="glyphicon" ng-class="{'glyphicon-ok-circle': mod.isLatest, 'ok': mod.isLatest, 'glyphicon-remove-circle': !mod.isLatest, 'warn': !mod.isLatest}"></div>*@
						<div class="name">{{ mod.module.name }}</div>
						<div ng-class="{'hidden': !mod.isDeploying}" id="{{ mod.$$hashKey.replace(':', '_') }}" style="display: inline-block; top: -2px; position: relative; width: 32px; height: 24px; float: right;"></div>
						<div ng-if="!mod.isDeploying" class="version">{{ mod.version.version }}</div>
					</div>
				</div>
			</div>
		</fieldset>
	</fieldset>
</div>
