body {
    padding-top: 20px;
    padding-bottom: 20px;
}

fieldset {
	border: 2px solid #eee;
	border-radius: 8px;
	padding: 8px;
}

fieldset > legend {
	margin: 0;
	margin-left: 4px;
	border: 0;
	width: auto;
	padding: 0 8px;
}

hr {
	border-color: #999;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.version {
	float: right;
	margin-left: 8px;
}

.version::before {
	content: '['
}

.version::after {
	content: ']'
}

.package {
	border: 2px solid #eee;
	/*border-left: 24px solid #69c;*/
	border-radius: 4px;
	display: inline-block;
	min-width: 100px;
	/*min-height: 100px;*/
	margin: 8px;
	vertical-align: top;
	/*padding: 4px;
	padding-right: 12px;*/
}

.package .title {
	background-color: #69c;
	border-radius: 4px 4px 0 0;
	color: #fff;
	padding: 4px;
}

.package .content {
	padding: 8px;
}

.pool {
    border: 2px solid #eee;
    border-radius: 8px;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    vertical-align: top;
}

.client-list {
    /*padding: 4px;*/
}

.client {
	display: inline-block;
	list-style: none;
	min-width: 100px;
	min-height: 20px;
	margin: 8px;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
}

.selected {
	border-width: 4px !important;
	margin: 6px !important;
}

.status-ok {
	border-color: #6c3;
}

.status-warn {
	border-color: #f93;
}

.module-list {
    padding: 4px;
	margin: 0;
}

.module {
    list-style: none;
}

li.module {
	border-radius: 2px;
	padding: 4px;
}

.ok {
	color: #6c3;
}

.warn {
	color: #f93;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
